{% extends "base.html" %}

{% block title %}
    Account History
{% endblock %}

{% block main %}
    account number {{ account.id }}
    <table>
        <thead>
            <th></th>
            <th>type</th>
            <th>date</th>
            <th>amount</th>
            <th>balance</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="incrementOffsetButton">Load more transactions</button>

<script>
    const offsetCounter = document.getElementById("incrementOffsetButton");
    let limit = 20;
    let offset = 0;
    let resultsCounter = 1;

    async function LoadAccountTransactions() {
        const url = `/api/accounts/{{ account.id }}?offset=${offset}&limit=${limit}`;
        const response = await fetch(url);
        const data = await response.json();
        const allTransactions = data.transactions;
        const transactionTable = document.querySelector("table tbody");
        
        // Disable load more button if no more transactions/pages
        if (!data.has_more) {
            offsetCounter.disabled = true;
        }

        allTransactions.forEach(transaction => {
            const row = document.createElement('tr');
            row.innerHTML = `
            <td>${resultsCounter++}</td>
            <td>${transaction.type}</td>
            <td>${transaction.timestamp}</td>
            <td>${transaction.amount}</td>
            <td>${transaction.new_balance}</td>
            `;
            transactionTable.appendChild(row);
        });
    }

    offsetCounter.addEventListener("click", function() {
        offset += limit;
        LoadAccountTransactions();
    });

    window.onload = () => LoadAccountTransactions();
</script>

{% endblock %}