{% extends "base.html" %}

{% block title %}
    Country Profile
{% endblock %}

{% block main %}
<div class="container p-lg-5">

    <h1>{{ country }} Top 10 Customers</h1>    
    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>customer</th>
                    <th>accounts</th>
                    <th>total balance</th>
                </tr>
            </thead>
            {% for customer in country_customers %}
            <tr>
                <td> {{ loop.index }}. </td>
                <td><a href="{{ url_for('customers.customer_page', customer_id=customer.Customer.id) }}"> {{ customer.Customer.first_name }} {{ customer.Customer.last_name }} </a></td>
                <td> {{ customer.number_of_accounts }} </td>
                <td> {{ customer.sum_of_accounts | format_money }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
    

{% endblock %}