{% extends "base.html" %}

{% block title %}
    Customer profile
{% endblock %}


{% block main %}
<div class="container px-sm-0 p-5 ">
    <div class="row justify-content-center ">
        <div class="col-10">
            <div class="row">
                <div class="col-xl-8 bg-light rounded px-0">
                    <div class="row rounded-top px-3 pt-3 border-bottom border-secondary-subtle ">
                        <h3>{{ customer.first_name }} {{ customer.last_name }}</h3>
                    </div>
                    <div class="row py-3 px-3">
                        <div class="col-2 d-flex justify-content-end px-3 ">
                            <i class="bx bx-detail bx-lg"></i>
                        </div>
                        <div class="col-2">
                            {% set labels = ["Customer ID", "National ID", "Address", "Birthday", "Phone Number", "Email" ] %}
                            {% for label in labels %}
                            <div class="row">{{ label }}</div>
                            {% endfor %}
                        </div>
                        <div class="col-8 ps-4 border-start border-secondary-subtle">
                            <div class="row">{{ customer.id }}</div>
                            <div class="row">{{ customer.national_id }}</div>
                            <div class="row">{{ customer.address }}, {{ customer.city }} {{ customer.postal_code }} {{ customer.country_details.name }}</div>
                            <div class="row">{{ customer.birthday }}</div>
                            <div class="row">{{ customer.country_details.telephone_country_code }}  {{ customer.telephone }} </div>
                            <div class="row">{{ customer.email }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="{{ url_for('customers.edit_customer', customer_id=customer.id) }}" method="get">
                            <div class="col-12">
                                <button type="submit" class="btn btn-light w-100 py-3 custom-rounded-button"><h5>Edit customer details</h5></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pt-xs-5 pt-sm-5 pt-md-5 pt-5">
                    <h3>Accounts</h3>
                    <div class="table-responsive ">
                        <table class="table table-light table-bordered ">
                            <thead>
                                <tr>
                                    <th>Account number</th>
                                    <th>Type</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in customer.accounts %}
                                <tr data-href="{{ url_for('customers.account_page', account_id=account.id) }}">
                                    <td> {{ account.id }} </a></td>
                                    <td> {{ account.account_type }} </td>
                                    <td> {{ account.balance |format_money }} </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="2"><b>Total balance: </b></td>
                                    <td>{{ total_balance |format_money }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/click_table_row.js"></script>

{% endblock %}