{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Global Statistics</h1>
    <table>
        <thead>
            <tr>
                <th>country</th>
                <th>customers</th>
                <th>accounts</th>
                <th>total balance</th>
            </tr>
        </thead>
        {% for country in country_stats %}
            <tr>
                <td><a href="{{ url_for('customers.country_page', country_name=country.name) }}">{{ country.name }}</a></td>
                <td> {{ country.number_of_customers }} </td>
                <td> {{ country.number_of_accounts }} </td>
                <td> {{ country.sum_of_accounts | format_money }} </td>            
            </tr>
        {% endfor %}

        <tr>
            <td>Total: </td>
            <td> {{ global_stats["number_of_customers"] }} </td>
            <td> {{ global_stats["number_of_accounts"] }} </td>
            <td> {{ global_stats["sum_of_accounts"] | format_money }} </td>
        </tr>
        
    </table>
   
{% endblock %}