.active {
    color:palevioletred;
}

.large_icon {
    font-size: 100px;
}

html {
    overflow: auto;
    min-height: 100%;
}

body {
    overflow: auto;
    min-height: 100%;
    height: 100vh;
}

form {
    min-width: 300px;
    max-width: 300px;
}

.brand-color
{
    color:royalblue;
}

.flashed-messages {
    position: fixed;
    top: 0;
    left: 0; /*nav bar height*/
    width: 100%;
    z-index: 1050;
}

#offcanvasTrigger {
    position: fixed;
    left: 15px; /* Distance from left */
    top: 15px; /* Distance from top */
    z-index: 1050; /* Ensure it's above most other content */
}

.pushed-content {
    transform: translateX(400px);
    transition: transform 0.3s ease-in-out;
}