<!-- _search_form.html to be included at top of search_customer.html and search_results.html -->

{% from "_formhelpers.html" import render_field %}

<div class="container">
    <form action="{{ url_for('search.display_search_results') }}" method="get">
        <div class="row">
            <div class="col">
                {{ render_field(form.first_name) }}
            </div>
            <div class="col">
                {{ render_field(form.last_name) }}
            </div>
        </div>
        <div class="row">
            {{ render_field(form.city) }}
        </div>
        {{ render_field(form.submit, padding="pt-3") }}
    </form>
</div>