{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1>Login</h1>

    <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label}}            
            {{ form.email(size=20, placeholder="email", autocomplete="off", autofocus=true) }}
            {% if form.email.errors %}
                <span>{{ form.email.errors[0] }}</span>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=20, placeholder="password", autocomplete="off") }}
            {% if form.password.errors %}
                <span>{{ form.password.errors[0] }}</span>
            {% endif %}
        </div>
            {{ form.submit() }}
        </div>
    </form>

{% endblock %}