<!-- TODO: this maybe unecessary since we disable submit until frontend validation is processed -->

{% macro render_field(field) %}

<div class="form-group">
    {% if field.widget.input_type != "submit" %}
        {{ field.label(class="form-control-label") }}
        {{ field(class="form-control" + (" is-invalid" if field.errors else "") + (" is-valid" if not field.errors and field.data else ""), **(field.render_kw or {})) }}
        {% if field.errors %}
            {% for error in field.errors %}
            <span class="invalid-feedback">
                {{error}}
            </span>
            {% endfor %}
        {% else %}
            <div class="invalid-feedback"></div>
        {% endif %}
    {% else %}
        {{ field(class="btn btn-light", **(field.render_kw or {})) }}
    {% endif %}
</div>

{% endmacro %}
