<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Blueprint Bank
    </head>
    <body>
        <header>
            {% if get_flashed_messages() %}
                <div role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>