<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <title>{% block title %}{% endblock %} | Blueprint Bank</title>
    </head>
    <body>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('authentication.logout') }}">Logout</a>
            <a href="{{ url_for('customers.index') }}" class="{{ 'active' if active_page=='index' }}">Home</a>
            <a href="{{ url_for('search.search_customer') }}" class="{{ 'active' if active_page=='search_customer' }}">Find customer</a>
            <a href="{{ url_for('customers.register_customer') }}" class="{{ 'active' if active_page=='register_customer' }}">Register customer</a>
            <a href="{{ url_for('users.crud_user') }}" class="{{ 'active' if active_page=='crud_user' }}">Manage users</a>
            <form action="{{ url_for('search.search_account_number') }}" method="post">
                {{ search_account_form.hidden_tag() }}
                {{ search_account_form.search_customer_id() }}
                <div>
                    {{ search_account_form.submit() }}
                </div>
            </form>
        {% endif %}

        <header>
            {% if get_flashed_messages() %}
                <div role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>