<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Blueprint Bank</title>
    </head>
    <body>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        
        <form action="{{ url_for('search_account_number') }}" method="post">
            {{ search_account_form.hidden_tag() }}
            {{ search_account_form.search_account_number() }}
            <div>
                {{ search_account_form.submit() }}
            </div>
        </form>

        <header>
            {% if get_flashed_messages() %}
                <div role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>