{% extends "base.html" %}

{% block title %}
    customer profile
{% endblock %}

{% block main %}

    <h1> customer id {{ customer.id }}</h1>
    <div>
        <h3>customer details:</h3>
        <ul>
            <li>name: {{ customer.first_name }} {{ customer.last_name }} </li>
            <li>personal id: {{ customer.national_id }} </li>
            <li>address: {{ customer.address }}, {{ customer.city }} {{ customer.postalcode }} {{ customer.country_details.name }}</li>
            <li>birthday: {{ customer.birthday }} </li>
            <li>telephone: {{ customer.country_details.telephone_country_code }}  {{ customer.telephone }} </li>
        </ul>
    </div>

    <div>
        <h3>Accounts:</h3>
        <table>
            <thead>
                <tr>
                    <th>account number</th>
                    <th>type</th>
                    <th>balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in customer.accounts %}
                <tr>
                    <td> {{ account.id }} </td>
                    <td> {{ account.account_type }} </td>
                    <td> {{ account.balance }} </td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>Total balance: </b></td>
                    <td>{{ total_balance }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}