{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        {% for country in country_stats %}
            <tr>
                <td>{{ country["country"] }}</td>
                <td>customers: {{ country["number_of_customers"] }}</td>
                <td>accounts: {{ country["number_of_accounts"] }}</td>
                <td>sum: {{ country["sum_of_accounts"] }}</td>            
            </tr>
        {% endfor %}

        <tr>
            <td>Total: </td>
            <td>customers: {{ global_stats["number_of_customers"] }}</td>
            <td>accounts: {{ global_stats["number_of_accounts"] }}</td>
            <td>sum: {{ global_stats["sum_of_accounts"] }}</td>
        </tr>
        
    </table>
   
{% endblock %}