{% extends "base.html" %}

{% block title %}
    Transaction
{% endblock %}

{% block main %}
<div>
    <h3>Transactions</h3>
    <form action="{{ url_for('process_transaction') }}" method="post">
        {{ form.hidden_tag() }}
        <input hidden value="{{customer.id}}" name="customer_id">
        {{ form.trans_accounts() }}
        {{ form.trans_type() }}
        {{ form.trans_amount() }}
        <input type="text" readonly value="{{ current_date }}">
        {{ form.submit() }}
    </form>
</div>
{% endblock %}