{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
<div>
    <h3>Register User</h3>
    <form action="{{ url_for('users.register_user') }}" method="post" class="needs-validation" novalidate>
        {{ register_form.hidden_tag() }}
        {{ render_field(register_form.register_email) }}
        {{ render_field(register_form.register_password) }}
        {{ render_field(register_form.register_confirm_password) }}
        {{ render_field(register_form.register_role) }}
        {{ render_field(register_form.submit) }}
    </form>
</div>

<div>
    <h3>Users</h3>
    <form action="{{ url_for('users.crud_user') }}" method="get">
        <input type="checkbox" id="show_inactive_users" name="show_inactive_users" {{ "checked" if show_inactive_users else '' }}> Show inactive users
    </form>
    <table>
        <thead>
            <tr>
                <th>email</th>
                <th>role</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles[0].name }}</td>
                    {% if user.active %}
                        <td>Active</td>
                    {% else %}
                        <td>Inactive</td>
                    {% endif %}
                    <td><a href="{{ url_for('users.user_page', user_id=user.id) }}">Edit User</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var showOnlyActive = document.getElementById('show_inactive_users');
        showOnlyActive.addEventListener('change', function() {
            this.form.submit();
        });
    });
</script>
    
{% endblock %}