{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <div class="container px-lg-5">
        <div class="row py-5">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#registerModal">
                Register New User
            </button>
        </div>

        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <h3>Users</h3>
                </div>
                <div class="row">
                    <form action="{{ url_for('users.crud_user') }}" method="get">
                        <input type="checkbox" id="show_inactive_users" name="show_inactive_users" {{ "checked" if show_inactive_users else '' }}> Show inactive users
                    </form>
                    <div class="table-responsive ">
                        <table class="table table-light table-bordered">
                            <thead>
                                <tr>
                                    <th>email</th>
                                    <th>role</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider ">
                                {% for user in users %}
                                    {% if user.roles %}
                                    {% if user.active %}
                                        <tr data-bs-toggle="modal" data-bs-target="#editModal" class="edit" data-user-index="{{user.id}}">
                                    {% else %}
                                        <tr class="inactiveRow">
                                    {% endif %}
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.roles[0].name }}</td>
                                        {% if user.active %}
                                            <td>Active</td>
                                        {% else %}
                                            <td>Inactive</td>
                                        {% endif %}
                                        <td>
                                            {% if user.active %}
                                                <button data-bs-toggle="modal" data-bs-target="#editModal" class="edit d-inline icon-btn" data-user-index="{{user.id}}"><i class="bx bx-user" title="Edit User"></i> </button>
                                            {% endif %}
                                                <form action="{{ url_for('users.change_user_status') }}" method="post" class="inline-icon-form ">
                                                {{ crud_form.hidden_tag() }}
                                                <input type="hidden" name="user_id" value="{{user.id}}">
                                                <button class="icon-btn" type="submit" title="{{'Deactivate user' if user.active else 'Activate user'}}"><i class="bx {{ 'bx-user-minus' if user.active else 'bx-user-plus' }}"></i></button>
                                            </form>
                                            <form action="{{ url_for('users.delete_user') }}" method="post" class="inline-icon-form ">
                                                {{ crud_form.hidden_tag() }}
                                                <input type="hidden" name="user_id" value="{{user.id}}">
                                                <button class="icon-btn" type="submit" title="Delete user"><i class="bx bx-user-x"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-break ">
                    <small>Delete? You cannot delete a user, only their personal details. However, a user may be deactivated. A deactivated user cannot log in. Information stays in the system, and the user can be activated again at any time.</small>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="registerModal">
        <div class="modal-dialog-centered modal-dialog modal-fullscreen-sm-down ">
            <div class="modal-content">
                    <div class="modal-header ">
                        <h1>User Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 p-3">
                                    <div class="row">
                                        <div class="col">
                                            <form action="{{ url_for('users.register_user') }}" method="post" class="needs-validation" novalidate>
                                                {{ register_form.hidden_tag() }}
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        {{ render_field(register_form.register_email) }}
                                                    </div>
                                                    <div class="col-sm-4">
                                                        {{ render_field(register_form.register_role) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        {{ render_field(register_form.register_password) }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        {{ render_field(register_form.register_confirm_password) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        {{ render_field(register_form.submit) }}
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="editModal">
        <div class="modal-dialog-centered modal-dialog modal-fullscreen-sm-down ">
            <div class="modal-content">
                    <div class="modal-header text-break ">
                        <h4 class="userEmail"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <form id="updateUserForm" action="{{ url_for('users.update_user') }}" method="post" class="needs-validation" novalidate>
                                    <div class="mb-3">
                                        Status: Active
                                    </div>
                                    {{ crud_form.hidden_tag() }}
                                    <input type="hidden" name="user_id"  class="userId">
                                    {{ render_field(crud_form.crud_role) }}
                                    {{ render_field(crud_form.crud_new_password) }}
                                    {{ render_field(crud_form.crud_confirm_password)}}
                                    {{ render_field(crud_form.submit_update) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var showOnlyActive = document.getElementById('show_inactive_users');
            showOnlyActive.addEventListener('change', function() {
                this.form.submit();
            });

            const editButtons = document.querySelectorAll(".edit");
            editButtons.forEach(function(button) {
                button.addEventListener("click", function() {
                    const selectedUserId = this.getAttribute("data-user-index");

                    const url = `/api/user/${selectedUserId}`;
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            setUserModalInfo(data);
                        })
                        .catch(error => console.error('error fetching user data: ', error));
                });
            }); 

        });

        function setUserModalInfo(user) {
            const roleSelects = document.querySelectorAll('.userRole');
            roleSelects.forEach(function(select) {
                select.value = user["role"];
            });

            const userIds = document.querySelectorAll(".userId");
            userIds.forEach(function(id) {
                id.innerText = `User ${user["id"]}`;
                id.value = `${user["id"]}`;
            });
            
            const userEmails = document.querySelectorAll(".userEmail");
            userEmails.forEach(function(email) {
                email.innerText = `${user["email"]}`;
            });
        }

    </script>
    
{% endblock %}