{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}
    Transfer
{% endblock %}

{% block main %}
<div>
    <h3>Transfer</h3>
    <form action="{{ url_for('transactions.process_transfer') }}" method="post" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <input type="hidden" value="{{customer.id}}" name="customer_id">
        {{ render_field(form.transfer_account_from) }}
        {{ render_field(form.transfer_account_to) }}
        {{ render_field(form.transfer_amount) }}
        <input type="text" readonly disabled value="{{ current_date }}">
        {{ render_field(form.submit) }}
    </form>
</div>
{% endblock %}