{% extends "base.html" %}

{% block title %}
    Transfer
{% endblock %}

{% block main %}
<div>
    <h3>Transfer</h3>
    <form action="{{ url_for('transactions.process_transfer') }}" method="post">
        {{ form.hidden_tag() }}
        <input hidden value="{{customer.id}}" name="customer_id">
        {{ form.transfer_account_from.label }} {{ form.transfer_account_from() }}
        {{ form.transfer_account_to.label }} {{ form.transfer_account_to() }}
        {{ form.transfer_amount() }}
        <input type="text" readonly disabled value="{{ current_date }}">
        {{ form.submit() }}
    </form>
</div>
{% endblock %}