{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
<div>
    <h3>Withdraw/Deposit</h3>
    <form action="{{ url_for('transactions.process_transaction') }}" method="post" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <input type="hidden" value="{{customer.id}}" name="customer_id">
        {{ render_field(form.from_account) }}
        {{ render_field(form.type) }}
        {# some kind of substitution here for to_account #}
        {{ render_field(form.amount) }}
        <input type="text" readonly disabled value="{{ current_date }}">
        {{ render_field(form.submit) }}
    </form>
</div>
{% endblock %}